<div class="wrapper">
  <div class="app-content">
    <nav>
      <li>
        <a
          class="nav-link"
          routerLink="/"
          routerLinkActive="nav-link-active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </li>
      <li *ngFor="let remote of remotes">
        <a
          class="nav-link"
          routerLinkActive="nav-link-active"
          [routerLinkActiveOptions]="{ exact: true }"
          [routerLink]="remote.routePath"
          >{{ remote.displayName }}</a
        >
      </li>
    </nav>
  </div>
  <div class="app-outlet">
    <router-outlet></router-outlet>
  </div>
</div>
