@font-face {
  font-family: "Playfair";
  src: local("Playfair"),
    url("../PlayfairDisplay-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans"),
    url("../OpenSans-VariableFont_wdth,wght.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("../Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoMedium";
  src: local("RobotoMedium"), url("../Roboto-Medium.ttf") format("truetype");
}
