<div
  class="nav-wrapper"
  [ngClass]="{ show: this.navigationService.isVisible$.getValue() }"
>
  <div class="nav-drawer" (click)="this.navigationService.close()"></div>

  <div class="nav-content">
    <div class="nav-pages">
      <div class="label label-large nav-title">Панели</div>
      <div>
        <a
          class="label label-large nav-link"
          routerLink="/"
          routerLinkActive="nav-link-active"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="this.navigationService.close()"
          ><div class="link-img">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path
                d="M4 4h4v4H4zm6 0h4v4h-4zm6 0h4v4h-4zM4 10h4v4H4zm6 0h4v4h-4zm6 0h4v4h-4zM4 16h4v4H4zm6 0h4v4h-4zm6 0h4v4h-4z"
              ></path>
            </svg>
          </div>
          Главная</a
        >
      </div>
    </div>
    <div class="nav-hr"></div>
    <div class="nav-modules">
      <div class="label label-large nav-title">Модули</div>
      <div *ngFor="let remote of this.modulesService.remotes">
        <a
          class="label label-large nav-link"
          routerLinkActive="nav-link-active"
          [routerLinkActiveOptions]="{ exact: true }"
          [routerLink]="remote.routePath"
          (click)="this.navigationService.close()"
          ><div class="link-img module-icon"></div>
          {{ remote.displayName }}</a
        >
      </div>
    </div>
    <div class="nav-hr"></div>
    <div class="nav-additional">
      <div>
        <a
          class="label label-large nav-link"
          routerLinkActive="nav-link-active"
          routerLink="/settings"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="this.navigationService.close()"
          ><div class="link-img">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path
                d="m2.344 15.271 2 3.46a1 1 0 0 0 1.366.365l1.396-.806c.58.457 1.221.832 1.895 1.112V21a1 1 0 0 0 1 1h4a1 1 0 0 0 1-1v-1.598a8.094 8.094 0 0 0 1.895-1.112l1.396.806c.477.275 1.091.11 1.366-.365l2-3.46a1.004 1.004 0 0 0-.365-1.366l-1.372-.793a7.683 7.683 0 0 0-.002-2.224l1.372-.793c.476-.275.641-.89.365-1.366l-2-3.46a1 1 0 0 0-1.366-.365l-1.396.806A8.034 8.034 0 0 0 15 4.598V3a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v1.598A8.094 8.094 0 0 0 7.105 5.71L5.71 4.904a.999.999 0 0 0-1.366.365l-2 3.46a1.004 1.004 0 0 0 .365 1.366l1.372.793a7.683 7.683 0 0 0 0 2.224l-1.372.793c-.476.275-.641.89-.365 1.366zM12 8c2.206 0 4 1.794 4 4s-1.794 4-4 4-4-1.794-4-4 1.794-4 4-4z"
              ></path>
            </svg>
          </div>
          Параметры</a
        >
      </div>
    </div>
  </div>
</div>
