<div
  class="main-wrapper"
  [ngClass]="{ loading: this.pluginsService.renderingPlugins }"
>
  <!-- <div class="headline-large main-title">Dashboard</div> -->
  <div *ngIf="false; else content">Loading...</div>
  <ng-template #content>
    <ng-container *ngFor="let p of plugins; let last = last">
      <div
        *ngIf="!last"
        class="main-card"
        [ngClass]="this.layoutService.getProps(p.unicDisplayName).width"
      >
        <div class="content-wrapper">
          <div class="label-large">{{ p.unicDisplayName }}</div>
          <plugin-proxy
            [options]="p"
            (loaded)="this.onPluginRendered(p.unicDisplayName)"
          ></plugin-proxy>
        </div>
      </div>

      <div
        *ngIf="last"
        class="main-card"
        [ngClass]="this.layoutService.getProps(p.unicDisplayName).width"
      >
        <div class="content-wrapper">
          <div class="label-large">{{ p.unicDisplayName }}</div>
          <plugin-proxy
            [options]="p"
            (loaded)="this.onPluginRendered(p.unicDisplayName)"
          ></plugin-proxy>
        </div>
      </div>
    </ng-container>
  </ng-template>

  <!-- Теперь можно где-то создать кнопку, которая будет обновлять плагины по команде -->
  <!-- <button (click)="this.pluginsService.update()">Update</button> -->
</div>
