<div class="main-wrapper">
  <div class="headline-large main-title">Главная</div>
  <div *ngIf="false; else content">Loading...</div>
  <ng-template #content>
    <ng-container *ngFor="let p of plugins; let last = last">
      <div
        *ngIf="!last"
        class="card"
        [ngClass]="this.layoutService.getProps(p.unicDisplayName).width"
      >
        <div class="label-large">{{ p.unicDisplayName }}</div>
        <plugin-proxy
          [options]="p"
          (loaded)="this.onPluginRendered(p.unicDisplayName)"
        ></plugin-proxy>
      </div>

      <div
        *ngIf="last"
        class="card"
        [ngClass]="this.layoutService.getProps(p.unicDisplayName).width"
      >
        <div class="label-large">{{ p.unicDisplayName }}</div>
        <plugin-proxy
          [options]="p"
          (loaded)="this.onPluginRendered(p.unicDisplayName)"
        ></plugin-proxy>
      </div>
    </ng-container>
  </ng-template>

  <!-- Теперь можно где-то создать кнопку, которая будет обновлять плагины по команде -->
  <!-- <button (click)="this.pluginsService.update()">Update</button> -->
</div>
