<div class="main-wrapper" [ngClass]="{ loading: this.state === 'hide' }">
  <!-- <div class="headline-large main-title">Dashboard</div> -->
  <div *ngIf="false; else content">Загрузка...</div>

  <ng-template #content>
    <ng-container *ngFor="let p of plugins; let last = last">
      <div *ngIf="!last" class="main-card main-card-wrapper" [ngClass]="p.styleClass">
        <div class="content-wrapper">
          <div class="label-large">{{ p.id }}</div>
          <plugin-proxy
            [options]="p"
            (loaded)="this.onPluginRendered(p.id)"
            (toBusEvent)="this.toBusEvent($event, p.id)"
          ></plugin-proxy>
        </div>
      </div>

      <div *ngIf="last" class="main-card main-card-wrapper" [ngClass]="p.styleClass">
        <div class="content-wrapper">
          <div class="label-large">{{ p.id }}</div>
          <plugin-proxy
            [options]="p"
            (loaded)="this.onPluginRendered(p.id)"
            (toBusEvent)="this.toBusEvent($event, p.id)"
          ></plugin-proxy>
        </div>
      </div>
    </ng-container>
  </ng-template>

  <!-- Теперь можно где-то создать кнопку, которая будет обновлять плагины по команде -->
  <!-- <button (click)="this.pluginsService.update()">Update</button> -->
</div>
